body {
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    margin: 0;
    background-color: #353535;
    font-family: Arial, Helvetica, sans-serif;
}

  header {
    color: white;
    background-color: #284b63;
    border-bottom: 3px solid #353535 ;
  }

  #mainContainer {
      display: flex;
      flex-grow: 1;
      height: 100%;
      background-color: #6a6a6a;
  }

    #menuContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 20%;
        background-color: cadetblue;
        border-right: 3px solid #353535 ;
    }

    .sidebar {
      list-style-type: none;
      padding: 5%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

      .sidebarItem {
        /*Display*/
        display: flex;
        justify-content: space-between;
        /*Color*/
        background-color: #eaeaea;
        color: black;
        /*Border, Margin, Padding*/
        border: 1px solid #353535;
        padding: 2px;
      }

      .sidebarItemOn {
        /*Display*/
        display: flex;
        justify-content: space-between;
        /*Color*/
        background-color: #eaeaea;
        color: black;
        /*Border, Margin, Padding*/
        border: 2px solid #dd6e42;
        padding: 1px;
      }

        
      .sidebarButton {
          background-color: transparent;
        display: flex;
        flex-direction: column;
        width: 100%;
        }

        #drawModeContainer {
          display: flex;
          justify-content: space-around;
        }
        
        .drawModeChild {
          border: 2px solid #eaeaea;
          padding: 3px;
        }

        .drawModeChildOn {
          border: 2px solid #dd6e42;
          padding: 3px;
        }


        #myColor {
          border: none;
        }

        #gridSizeDisplay{
          /*Color*/
          background-color: white;
          color: black;
          /*Border*/
          border: 1% solid;
          border-color: darkgrey;
          display: flex;
          flex-direction: column;
          width: 100%;
        }






#contentContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

#etchContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 75%;
    aspect-ratio: 1/1;
    border: 3px solid #353535;
}

.etchRow{
    display: flex;
    justify-content: stretch;
    flex-grow: 1;
    min-height: 0;
    
}

.etchBox{
flex-grow: 1;
min-height: 1px;
border: 1px solid white;
border-radius: 3px;
}

.etchBoxextra{
    width: 6.25%;
    height: 100%;
    aspect-ratio: 1/1;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }