body {
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    background-color: darkred;
}

#mainContainer {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

#menuContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 20%;
    background-color: skyblue;
}

#outerEtchContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

#etchContainer{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 75%;
    aspect-ratio: 1/1;
}

.etchRow{
    display: flex;
    justify-content: stretch;
    flex-grow: 1;
    min-height: 0;
    
}

.etchBox{

flex-grow: 1;
}

.etchBoxextra{
    width: 6.25%;
    height: 100%;
    aspect-ratio: 1/1;
}